@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
body {
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.container {
    width: 100%;
    max-width: 800px; /* Atur lebar maksimum sesuai kebutuhan */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.title-month {
    font-size: 1.5rem;
    font-weight: 600;
}

#calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days-head {
    border-width: 2px!important;
    border-color: #aaf!important;
    padding: 7px 10px!important;
}
.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.today {
    background-color: #aaf;
}

.selected {
    background-color: #4caf50;
    color: white;
}

/* button
============================================= */
/* Tombol Dasar */
.button {
    display: inline-block;
    font-size: 16px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    /* Efek Hover */
.button:hover {
    background-color: #3498db;
    color: #ffffff;
}

    /* Tombol Sekunder */
.button.secondary {
    border-color: #2ecc71;
    color: #2ecc71;
}

    /* Efek Hover Tombol Sekunder */
.button.secondary:hover {
    background-color: #2ecc71;
    color: #ffffff;
}

    /* Tombol Tersier */
.button.tertiary {
    border-color: #e74c3c;
    color: #e74c3c;
}

    /* Efek Hover Tombol Tersier */
.button.tertiary:hover {
    background-color: #e74c3c;
    color: #ffffff;
}